absl-py==2.1.0
aiobotocore==2.13.1
aiofiles==24.1.0
aiohttp==3.9.5
aioitertools==0.11.0
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
Babel==2.15.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
binaryornot==0.4.4
bleach==6.1.0
blinker==1.7.0
blis==0.7.11
boto3==1.34.145
botocore==1.34.131
branca==0.7.1
bs4==0.0.2
build==1.2.1
cachetools==5.3.3
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-default-group==1.2.4
cloudpathlib==0.18.1
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.1
confection==0.1.5
contourpy==1.2.0
cookiecutter==2.6.0
coverage==7.6.0
cryptography==42.0.5
cvxopt==1.3.2
cycler==0.12.1
cymem==2.0.8
Cython==3.0.10
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.8
distro==1.9.0
Django==5.0.2
dnspython==2.5.0
dynaconf==3.2.6
email-validator==2.1.0.post1
es-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/es_core_news_lg-3.7.0/es_core_news_lg-3.7.0-py3-none-any.whl#sha256=08020b83e0c6da1584e567551a5e0de7b15dc0534eaaee21acc1ce908d1be742
et-xmlfile==1.1.0
executing==2.0.1
fastapi==0.111.1
fastapi-cli==0.0.4
fastjsonschema==2.19.1
filelock==3.13.1
Flask==3.0.2
Flask-Cors==4.0.1
Flask-MySQLdb==2.0.0
flatbuffers==24.3.25
folium==0.16.0
fonttools==4.49.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
gast==0.5.4
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.18.0
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-custom-search==2.0.9
google-pasta==0.2.0
googleapis-common-protos==1.63.0
graphql-core==3.2.3
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.62.1
h11==0.14.0
h5py==3.10.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.24.5
hyperopt==0.2.7
idna==3.6
imageio==2.34.0
importlib_metadata==7.2.1
importlib_resources==6.4.0
iniconfig==2.0.0
ipykernel==6.29.0
ipython==8.21.0
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.10
kedro==0.19.6
kedro-datasets==4.0.0
kedro-telemetry==0.5.0
kedro-viz==9.1.0
keras==3.4.1
kiwisolver==1.4.5
langcodes==3.4.0
langdetect==1.0.9
language_data==1.2.0
lazy_loader==0.3
libclang==18.1.1
lxml==5.1.0
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mime==0.1.0
mistune==3.0.2
ml-dtypes==0.3.2
mongoengine==0.27.0
more-itertools==10.3.0
mpmath==1.3.0
multidict==6.0.5
murmurhash==1.0.10
mysql==0.0.3
mysqlclient==2.2.4
namex==0.0.7
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.3
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
notebook==7.2.1
notebook_shim==0.2.4
numpy==1.26.4
omegaconf==2.3.0
openai==1.35.3
opencv-python==4.9.0.80
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.6
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
paddlepaddle==2.6.1
paddlepaddle-gpu==2.6.1
pandas==2.2.1
pandocfilters==1.5.1
paramiko==3.4.0
parse==1.20.2
parso==0.8.3
patch-ng==1.17.4
patsy==0.5.6
pillow==10.2.0
platformdirs==4.2.0
plotly==5.20.0
pluggy==1.5.0
pmdarima==2.0.4
pre-commit-hooks==4.6.0
preshed==3.0.9
prometheus_client==0.20.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
psycopg2==2.9.9
PuLP==2.8.0
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==15.0.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.21
pydantic==2.7.4
pydantic_core==2.18.4
pydeck==0.8.1b0
Pygments==2.17.2
pymongo==4.6.1
PyMySQL==1.1.0
PyNaCl==1.5.0
pyparsing==3.1.2
pyproject_hooks==1.1.0
PySocks==1.7.1
pyspark==3.5.1
pytest==7.4.4
pytest-cov==3.0.0
pytest-mock==1.13.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.9
python-slugify==8.0.4
pytoolconfig==1.3.1
pytz==2024.1
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==25.1.2
ratelim==0.1.6
referencing==0.34.0
regex==2024.4.28
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rope==1.13.0
rpds-py==0.18.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
ruff==0.1.15
s3fs==2024.6.1
s3transfer==0.10.2
safetensors==0.4.4
scikeras==0.13.0
scikit-image==0.22.0
scikit-learn==1.5.1
scipy==1.12.0
seaborn==0.13.2
secure==0.3.0
selenium==4.18.1
Send2Trash==1.8.3
setuptools==70.2.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sql==2022.4.0
SQLAlchemy==2.0.31
sqlparse==0.4.4
squarify==0.4.3
srsly==2.4.8
stack-data==0.6.3
starlette==0.37.2
statsmodels==0.14.2
strawberry-graphql==0.236.0
streamlit==1.33.0
sympy==1.12
tenacity==8.2.3
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
termcolor==2.4.0
terminado==0.18.1
text-unidecode==1.3
textblob==0.18.0.post0
tf_keras==2.17.0
thinc==8.2.5
threadpoolctl==3.3.0
tifffile==2024.2.12
tinycss2==1.3.0
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.1
toposort==1.10
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.1
transformers==4.44.0
trio==0.25.0
trio-websocket==0.11.1
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.10.0
tzdata==2023.4
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.29.0
vega-datasets==0.9.0
virtualenv==20.26.3
wasabi==1.1.3
watchdog==4.0.0
watchfiles==0.22.0
watchgod==0.8.2
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.6.0
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.1
wheel==0.43.0
widgetsnbextension==4.0.10
wordcloud==1.9.3
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.1.2
xgboost==2.0.3
xyzservices==2023.10.1
yarl==1.9.4
zipp==3.19.2
